html {
  height: 100%;
  width: 100%;
}
  body {
  background-image: url("images.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
#demo {
  text-align: center;
}